html {
    max-width: 100%;
    max-height: 100%;
    background:url(fundo.jpeg) repeat-y top center/cover;

}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 4px;
    font-size: 16px;
}

header {
    background-color: #0f0f0f;
    color: rgb(52, 199, 199);
    text-shadow: 3px 3px 3px #f8f8f8;
    max-width: 100%;
    max-height: fit-content;
    height: max-content;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    overflow:hidden;
}

body {
    overflow: auto;
}

.titulo {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    max-height: fit-content;
    vertical-align: middle;
    padding: 10px;
    line-height: 55px;
}

p {
    text-align: justify;
    line-height: 22px;
    letter-spacing: 2px;
}

.box {
    border-radius: 10px;
    border: 1px solid #2c2a2a00;
    background-color: #f8f8f8;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 50px;
    margin-left: 50px;
    display: block;
    box-shadow: 2px 1px 4px black;
}

section {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.conteiner {
    box-sizing: border-box;
    border: 1px solid #2c2a2a00;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    align-items: center;
    background-color: #cecbcbe5;
    padding: 30px;
}

h2 {
    margin: 0;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(36, 223, 223), rgb(17, 99, 99));
    position: relative;
    overflow: hidden;
    color: #0f0f0f;
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 10px;
    font-size: 24px;
}

input {
    margin-top: 12px;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 5px;
    width: 100%;

}

label {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 8px;
}

label[for=options] {
    font-weight: normal;
}

option {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 8px;
}

textarea {
    border-radius: 7px;
    padding: 8px;
    width: 100%;
}

select{
    width: 100%;

}

figure img {
    width: 400px;
    box-shadow: 2px 2px 3px black;
}

.imagem {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
}

span {
    font-weight: bold;
}

a span {
    font-weight: unset;
    font-style: italic;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: purple;
}

a:hover {
    font-size: 18px;
    background-color: #0f0f0f;
    border-radius: 2px;
    color: aqua;
}

a:active {
    text-decoration: none
}

input[type=submit] {
    display: block;
    margin-left: auto;
    padding: 6px;
    cursor: pointer;
    box-shadow: 1px 1px black;
}

input[type=submit]:hover {
    background-color: rgb(31, 206, 84);

}

@media (min-width:1200px){

}



/*teste*/